*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-color: rgb(161, 74, 74);
    background-image: url("assets/cardbackground.pdf");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}
/* the main card container */

.card{
  width: 441px;
  height: 254px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(255, 120, 85);
 
}

h1{
  margin-bottom: 0px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 30px;
  position: relative; top: 40px;
  color: #000000;
  top: 6px;
  font-size: 28px;
  right: -10;
  
}
h2{
  margin-bottom: 0px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 30px;
  position: relative; top: 40px;
  color: #000000;
  top: -9px;
  font-size: 28px;
  right: -30.5;

}
h4{
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  text-align: left;
  position: relative; top: 40px;
  top: -75px;
  color: #000000;
  font-size: 18px;
  left: 140px;

} 

h3{
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  text-align: left;
  position: relative; 
  top: 25px;
  font-size:16px;
  left: 140px;

}
/* How links are styled on page load and also after a link has been visited */
a:link, a:visited {
  color: #8e2406;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}
/* how a link is styled when you hover over it */
a:hover {
  color: rgb(17, 68, 207);
}

/* specific styling to scale elements down for mobile */
@media only screen and (max-width: 900px) {
  .card{
    width: 390px;
    height: 220px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  

  }